body {
    background: rgb(14, 14, 14);
    color: white;
}

header {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 80px;
    border-bottom: Solid red;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 50px;

}

.video {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background: rgba(180, 3, 3, 0.425);
    padding-bottom: 150px;
}

.hashtag {
    display: flex;
    justify-content: center;

}